#head{
    background-color:grey;
    width:100%;
    height:100px;

    display:flex;
    justify-content:space-between;
    align-items:center;


    position:fixed;
    top:0;
    left:0;

    z-index:1000;
}

#head .side {
    display: flex;
    align-items: center;
}

.text h2 {
    margin: 0;
    padding-bottom: 5px;
}

.text p {
    margin: 0;
}

.hamburger img {
    display: none;
    width: 30px;
    margin: 0px 0px 0px 20px;
}

.profile img {
    width: 70px;
    height: 70px;
    margin: 50px;
}

@media (max-width: 768px) {
    .hamburger img {
        display: block;
    }
    
    .profile img {
    width: 60px;
    height: 60px;
    margin: 20px;
    }
}

.logo img {
    width: 90px;
    height: 70px;
}

.profile a {
    display: inline-block;
    height: 0;
}