*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f5f5f5;
}

/* HEADER */

.header{
    width:100%;
    height:120px;
    background:#f3f3f3;

    display:flex;
    align-items:center;

    border-bottom:1px solid #ddd;
}

.logo-section{
    display:flex;
    align-items:center;
    margin-left:40px;
}

.logo-box{
    width:80px;
    height:80px;
    background:#9e9e9e;

    display:flex;
    justify-content:center;
    align-items:center;
}

.logo-box img{
    width:50px;
    height:50px;
}

.logo-text{
    margin-left:15px;
}

.logo-text h2{
    font-size:28px;
    margin-bottom:8px;
}

.logo-text p{
    font-size:16px;
    color:#555;
}


.reset-container{
    min-height:calc(100vh - 120px);

    display:flex;
    justify-content:center;
    align-items:center;
}

.reset-card{
    width:420px;
    background:#dbe7d9;
    padding:30px;
}

.reset-logo{
    display:block;
    margin:0 auto 20px;
    width:70px;
}

.reset-card h1{
    text-align:center;
    margin-bottom:30px;
    font-size:45px;
    font-weight:400;
}

.reset-card label{
    display:block;
    margin-bottom:8px;
    font-size:16px;
}

.reset-card input{
    width:100%;
    height:50px;
    border:none;
    border-bottom:1px solid #444;
    background:white;
    padding:0 15px;
    margin-bottom:25px;
    font-size:16px;
}

.reset-card button{
    width:100%;
    height:50px;
    border:none;
    background:#4caf50;
    color:white;
    font-size:18px;
    cursor:pointer;
}

.reset-card button:hover{
    background:#388e3c;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    text-align: center;
}

.popup-box button {
    padding: 8px 15px;
    cursor: pointer;
    width: 30%;
}

@media(max-width:768px){

    .header{
        height:100px;
    }

    .logo-box{
        width:60px;
        height:60px;
    }

    .logo-box img{
        width:40px;
        height:40px;
    }

    .logo-text h2{
        font-size:22px;
    }

    .logo-text p{
        font-size:14px;
    }

    .reset-card{
        width:90%;
        padding:25px;
    }

    .reset-card h1{
        font-size:35px;
    }
}