*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#head{
    background-color:rgb(240, 240, 240);
    width:100%;
    height:100px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    position:fixed;
    top:0;
    left:0;

    z-index:1000;
}

#head .side {
    display: flex;
    align-items: center;
}

.text h2 {
    margin: 0;
    padding-bottom: 5px;
}

.text p {
    margin: 0;
}

.reset-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 100px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-left: 24px;
}

.reset-card{
    width:500px;
    max-width: 100%;
    background:#c8e6c9;
    padding:36px 36px 28px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 60px;
    height: 60px;
    margin: 30px;
}

.reset-logo{
    display:block;
    margin:0 auto 20px;
    width:70px;
}

.reset-card h1{
    text-align:center;
    margin-bottom:6px;
}

.reset-card label{
    display:block;
    margin-bottom:8px;
}

.reset-card input{
    width:100%;
    height:50px;
    border:none;
    border-bottom:1px solid #444;
    background:white;
    padding:14px 16px;
    margin-bottom:12px;
    font-size:15px;
    border-radius: 10px;
    background-color: whitesmoke;
}

.reset-card button{
    width:100%;
    height:50px;
    border:none;
    background:#2e7d32;
    color:white;
    font-size:17px;
    border-radius: 10px;
    cursor:pointer;
    margin-top: 12px;
}

.reset-card button:hover{
    background: #1b5e20;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-box{
    min-width:300px;
    padding:20px;
    background:white;
    border-radius:10px;
    text-align:center;
}

.popup-box button{
    width:30%;
    padding:8px 15px;
    cursor:pointer;
    background:#45B058;
    color: white;
    border: none;
    border-radius: 10px;
}

.popup-box button:hover{
    background:#378F46;
}

@media(max-width:768px){

    .reset-card h1{
        font-size:35px;
    }

    .logo img{
        width: 45px;
        height: 45px;
        margin: 20px 10px 20px 20px;
    }

    .text h2{
        font-size: 20px;
    }

    .text p{
        font-size: 13px;
    }
}