*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

#head{
    background-color:rgb(240, 240, 240);
    width:100%;
    height:100px;

    display:flex;
    justify-content:space-between;
    align-items:center;

    position:fixed;
    top:0;
    left:0;

    z-index:1000;
}

#head .side {
    display: flex;
    align-items: center;
}

.text h2 {
    margin: 0;
    padding-bottom: 5px;
}

.text p {
    margin: 0;
}

.logo img {
    width: 60px;
    height: 60px;
    margin: 30px;
}

body{
    background:#efefef;
}

.logo-section{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo-section img{
    width:60px;
    height:60px;
}

.logo-section h2{
    font-family:Arial, sans-serif;
    font-weight:600;
}

.signup-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding-top: 120px;
    padding-bottom: 40px;
    padding-left: 24px;
    padding-right: 24px;
    width: 100%;
}

.signup-wrapper{
    width:85%;
    max-width:1150px;
    margin:0 auto;
    display:grid;
    grid-template-columns:55% 45%;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.signup-left{
    background:#c8e6c9;
    padding: 40px;
}

.signup-left h1{
    margin-bottom:6px;
}

.signup-left p{
    font-size:16px;
    margin-bottom:20px;
}

.signup-left label{
    display:block;
    margin-bottom:8px;
}

.signup-left input{
    width:100%;
    height:45px;
    border:none;
    border-bottom:1px solid #444;
    padding:14px 16px;
    margin-bottom:12px;
    font-size:15px;
    border-radius: 10px;
}

.signup-left button{
    width:100%;
    margin-top:12px;
    background:#2e7d32;
    color:white;
    border:none;
    height:44px;
    border-radius: 10px;
    font-size:17px;
    cursor:pointer;
}

.signup-left button:hover {
    background: #1b5e20;
}

.signup-right{
    background:#acd6b5;
    display:flex;
    justify-content:center;
    align-items:center;
}

.logo-card{
    width:245px;
    height:220px;
    background:#d7e2d6;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.logo-card img{
    width:100px;
    margin-bottom:20px;
}

.logo-card h2{
    font-family:Arial, sans-serif;
    font-size:18px;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
    text-align: center;
}

.popup-box button {
    padding: 8px 15px;
    cursor: pointer;
    width: 30%;
}

@media(max-width:768px){

    .signup-wrapper{
        grid-template-columns:1fr;
        height:auto;
    }

    .signup-right{
        display: none;
    }

    .signup-wrapper {
        width: 500px;
    }

    .signup-left{
        padding: 36px 36px 28px;
    }

    .signup-left h1{
        font-size:40px;
    }

    .logo img{
        width: 45px;
        height: 45px;
        margin: 20px 10px 20px 20px;
    }

    .text h2{
        font-size: 20px;
    }

    .text p{
        font-size: 13px;
    }
}